.container{
  margin-top: 100px;
  display: flex;
  justify-content:center;
  align-items: center;
}

input{
  width: 300px;
  height: 37px;
  border-radius: 3px;
  outline: none;
  
}

.Link {
 
  padding: 10px;
  color: rgb(56, 66, 201);
  font-size: 20px;
  font-weight: bold;
}




h1{
  text-align: center;
}



button{
  background-color: blueviolet;
  border-radius: 4px;
  width: 100px;
  height: 40px;
  color: white;
  margin-left: 5px;
  border: none;
  cursor: pointer;
}


.block{
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}  